@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;1,200;1,300;1,700;1,800&display=swap');

*,
*::before
*::after{
    box-sizing: border-box ;
}

html{
    width: 100%;
    font-size: 72.5%;
}

html, body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
    height: 100vh;
}
body{
    font-family: 'Nunito', sans-serif;
    width: 100%;
}
.home-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: hotpink;
    max-height: 8rem;
    }
    
    .home-nav ul{
        display: flex;
        height: 100%;
        justify-content: space-between;
        padding-right: 3rem;
        width: 60%;
    }
    
    .nav-item{
        list-style-type: none;
        font-size: 1.4rem;
        font-weight: 400;
    }
    
    .nav-item a{
        text-decoration: none;
        color: whitesmoke;
    }
    
    .logo{
        font-size: 3rem;
        font-weight: 800 lighter;
    }
    
    .logo a{
        text-decoration: none;
        color: blueviolet;
    }
    
    .logo a:hover, .nav-item a:hover{
        color: yellowgreen;
        text-decoration: line-through;
        transition: line-through 500ms linear;
    }

footer{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 4rem;
}

footer p{
    font-size: 1.3rem;
    color: black;
}

@media screen and (min-width: 768px){
    .home-nav ul{
        width: 25%;
    }
}

@media screen and (min-width: 1200px){
    .home-nav ul {
        width: 20%;
}
}